.navbar{
    display: flex;
    align-items: center;
    height: 70px;
    width:100vw;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
    background-color: rgb(0, 0, 0);
    /* background: linear-gradient(to right,#ffff,#ffff,black,black,black); */
}

span{
    font-family: cursive;
    font-size: large;
    font-weight: 600;
}